<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Listados de materiales</h1>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-3 col-6 mb-3">
                <div class="form-floating box-shadow">
                    <input type="number" class="form-control" [(ngModel)]="anio" id="Anio" placeholder="Escriba un año" (input)="obtenerListados()">
                    <label asp-for="anio">Año</label>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-3">
                <div class="form-floating box-shadow">
                    <select class="form-select" [(ngModel)]="mes" (change)="obtenerListados()" id="ddlmes">
                        <option *ngFor="let m of meses" [ngValue]="m.id">{{ m.descripcion }}</option>
                    </select>
                    <label asp-for="ddlmes">Mes</label>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-3">
                <div class="form-floating box-shadow">
                    <select class="form-select" [(ngModel)]="idStatus" (change)="obtenerListados()">
                        <option *ngFor="let s of statusl" [ngValue]="s.id">{{ s.descripcion }}</option>
                    </select>
                    <label asp-for="ddlmes">Estatus</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row box-shadow" style="border-radius: 10px; overflow-x: hidden;">
        <div style="max-height: 450px; overflow-y: auto;">
            <div class="row">
                <table class="table table-borderless table-striped table-responsive text-center">
                    <thead class="sticky-top d-md-none">
                        <tr class="text-start sticky-top">
                            <th>Listados</th>
                            <th></th>
                        </tr>
                    </thead>
                    <thead class="sticky-top text-white">
                        <tr>
                            <td>
                                <div class="row" style="font-weight: bold;">
                                    <div class="col-md-1 col-sm-6 col-2">
                                        <span class="text-white d-none d-md-block">Id</span>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-8">
                                        <span class="text-white d-none d-md-block">Sucursal</span>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-2">
                                        <span class="text-white d-none d-md-block">Listado</span>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="text-white d-none d-md-block">Tipo</span>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="text-white d-none d-md-block">Estatus</span>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="text-white d-none d-md-block">F.Creación</span>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="text-white d-none d-md-block">F.Entrega</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="col-md-12 col-sm-12 col-12">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let listado of model.listas">
                            <td>
                                <div class="row">
                                    <div class="col-md-1 col-sm-6 col-2">
                                        <span class="badge d-md-none">Id:</span>
                                        <div class=" ms-2">{{ listado.idInmueble }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-8">
                                        <span class="badge d-md-none">Sucursal:</span>
                                        <div class="ms-2">{{ listado.nombreSucursal }}</div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-2">
                                        <span class="badge d-md-none">Listado:</span>
                                        <div class="ms-2">{{ listado.idListado }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="badge d-md-none">Tipo:</span>
                                        <div class="ms-2">{{ listado.tipo }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="badge d-md-none">Estatus:</span>
                                        <div class="ms-2">{{ listado.estatus }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="badge d-md-none">F.Creacion:</span>
                                        <div class="ms-2">{{ listado.fechaAlta }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="badge d-md-none">F.Entrega:</span>
                                        <div class="ms-2">{{ listado.fechaEntrega }}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div>

                                    <div class="col-12 col-md-12 col-sm-12">
                                        <button type="button" class="btn btn-lg text-primary" (click)="obtenerMateriales(listado.idListado, listado.nombreSucursal, listado.tipo, listado.prefijo)" data-bs-toggle="tooltip" title="Ver lista">
                                            <i class="fa-solid fa-list"></i>
                                        </button>
                                        <button type="button" class="btn btn-lg text-secondary"
                                                (click)="verAcuses(listado.idListado, listado.nombreSucursal, listado.tipo, listado.prefijo)"
                                                data-bs-toggle="tooltip" title="Acuse"
                                                [disabled]="listado.estatus === 'Entregado'">
                                            <i class="fa-solid fa-file-circle-check"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>
</div>
<detallematerialeslistado-widget></detallematerialeslistado-widget>
<cargaracuseentrega-widget (ansEvent)="openConfirmacion($event)" (entregado)="entregado($event)"></cargaracuseentrega-widget>
<elimina-widget [titulo]="" [mensaje]="" (ansEvent)="returnConfirmacion($event)"></elimina-widget>

