<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Entregas</h1>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-3 col-7 mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" [(ngModel)]="anio" id="Anio" placeholder="Escriba un año" (input)="obtenerListados()">
                    <label asp-for="anio">Año</label>
                </div>
            </div>
            <div class="col-md-3 col-5 mb-3">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="mes" (change)="obtenerListados()" id="ddlmes">
                        <option value="0">Seleccione ...</option>
                        <option *ngFor="let m of meses" [ngValue]="m.id">{{ m.descripcion }}</option>
                    </select>
                    <label asp-for="ddlmes">Mes</label>

                </div>
            </div>
        </div>
    </div>


    <div class="row" style="border-radius: 10px; overflow-x: hidden;">
        <div style="max-height: 600px; overflow-y: auto;">
            <div class="row" style="border-radius: 10px; overflow-x: hidden;">
                <table class="table table-borderless table-striped table-responsive text-center">
                    <thead>
                        <tr class="bg-primary bg-opacity-75 text-white">
                            <th class="ps-2 text-start">Listados de materiales</th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let listado of model.listas">
                            <td>
                                <div class="row mb-2">
                                    <div class="col-md-1 col-sm-6 col-1">
                                        <span class="badge text-dark">Id:</span>
                                        <div class="ms-2">{{ listado.idInmueble }}</div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-5">
                                        <span class="badge text-dark">Sucursal:</span>
                                        <div class="ms-2">{{ listado.nombreSucursal }}</div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-5">
                                        <span class="badge text-dark">Listado:</span>
                                        <div class="ms-2">{{ listado.idListado }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-5">
                                        <span class="badge text-dark">Tipo:</span>
                                        <div class="ms-2">{{ listado.tipo }}</div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-5">
                                        <span class="badge text-dark">Estatus:</span>
                                        <div class="ms-2">{{ listado.estatus }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-5">
                                        <span class="badge text-dark">F.Creacion:</span>
                                        <div class="ms-2">{{ listado.fechaAlta }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-5">
                                        <span class="badge text-dark">F.Entrega:</span>
                                        <div class="ms-2">{{ listado.fechaEntrega }}</div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-lg text-primary" (Onclick)="ObtenerListado(listado.idListado)" data-bs-toggle="tooltip" title="Ver lista">
                                    <i class="fa-solid fa-list"></i>
                                </button>
                                <button type="button" class="btn btn-lg text-secondary" data-bs-toggle="tooltip" title="Ver lista">
                                    <i class="fa-solid fa-file-circle-check"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>
    </div>
    <br />
    <br />
    <br />
    <br />
    <button type="button" class="btn btn-primary btn-bottom-right box-shadow" (click)="goBack()">Volver</button>
</div>
