.login-card {
    background-color: rgba(255, 255, 255, 0.00);
}

.input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
}

.my-input-class {
    background-color: rgba(255, 255, 255, 0.2);
}

.bodycss {
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
    border-bottom: 0px;
    background-image: url('../login/login_fondo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 95vh;
}

.card {
    border: none;
}

.card-headercss,
.card-footercss {
    background: none;
    border: none;
}

.col-mid {
    flex: 0 0 4.166%;
    max-width: 4.166%;
}

::placeholder,
::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

input:focus::placeholder,
input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.fadeIn {
    animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

