<meta charset="UTF-8">
<div class="modal fade modal-lg" id="modalCargarAcuseEntrega" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <meta charset="UTF-8">
            <!-- Modal Header -->
            <div *ngIf="estatus == false" class="modal-header justify-content-center">
                <h4 class="modal-title">Cargar acuse de entrega</h4>
            </div>
            <div *ngIf="estatus == true" class="modal-header justify-content-center">
                <h4 class="modal-title">Ver acuse de entrega</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body ">
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="modal-title">Listado </h6><span>{{ idListado  }}</span>
                    </div>
                    <div  class="col-md-2">
                        <h6 class="modal-title">Estatus </h6><span>{{ estatusListado }}</span>
                    </div>
                    <div class="col-md-8">
                        <h6 class="modal-title">Punto de atención</h6><span> {{ sucursal }}</span>
                    </div>
                </div>
                <hr />
                <div *ngIf="estatus == false" class="row text-center">
                    <div class="col-md-4 col-4 mb-3">
                        <input type="file" (change)="onFileSelected($event)" #fileInput style="display:none" accept="image/*, application/pdf, .doc, .docx, .txt">
                        <button type="button" class="btn btn-outline-primary" (click)="fileInput.click(); chgbtn()">
                            <i class="fa-solid fa-magnifying-glass me-1"></i>
                            Seleccionar
                        </button>
                    </div>
                    <div class="col-md-4 col-4">
                        <button *ngIf="selectedFileName" type="button" class="btn btn-outline-danger" (click)="limpiarDocumento()">
                            {{ selectedFileName }}  <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    <div class="col-md-4 col-4">
                        <button *ngIf="selectedFileName" type="button" class="btn btn-outline-success" (click)="guardarArchivo()">
                            <i class="fa-solid fa-upload"></i>
                            Cargar
                        </button>
                    </div>
                    <hr />
                </div>
                

                <div *ngIf="isLoading || (model.acuses && model.acuses.length === 0)" class="row-12 text-center">

                    <h6 *ngIf="isLoading">Cargando...</h6>
                    <h6 *ngIf="!isLoading && model.acuses && model.acuses.length === 0">No se encontraron acuses</h6>
                </div>
                <div *ngIf="isLoading" class="text-center ">
                    <i class="fas fa-spinner fa-spin fa-3x"></i>
                </div>
                <div *ngIf="model.acuses && model.acuses.length > 0" class="row box-shadow" style="border-radius: 10px; overflow-x: hidden;">
                    <div style="max-height: 250px; max-width:auto; overflow-y: auto; overflow-x: hidden">
                        <div class="row">
                            <table class="table table-borderless table-striped table-responsive text-center">
                                <thead class="sticky-top text-white" style=" border-radius: 10px; ">
                                    <tr class="col-1 text-center">
                                        <th>Acuse</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let acu of model.acuses">
                                        <td> {{acu.archivo}}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-12 col-md-12 col-sm-12">
                                                    <button type="button" class="btn btn-lg text-primary" (click)="getImage(acu.archivo, acu.carpeta)" data-bs-toggle="tooltip" title="Ver">
                                                        <i class="fa-solid fa-eye" style="color: #565658;"></i>
                                                    </button>
                                                    <button *ngIf="estatus == false" type="button" class="btn btn-lg text-secondary" (click)="elimina(acu.archivo, acu.carpeta)" data-bs-toggle="tooltip" title="Eliminar">
                                                        <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />

            </div>
            <!-- Modal footer -->
            <div class="modal-footer justify-content-start">

                <div class="row col-lg-12">
                    <div *ngIf="estatus == false" class="col-4 col-md-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" [(ngModel)]="fechaEntrega" id="fechaEntrega">
                            <label asp-for="fechaEntrega">Fec.Entrega</label>
                        </div>
                    </div>
                    <div *ngIf="estatus == false" class="col-5 col-md-7">
                        <button type="button" class="btn btn-outline-success" (click)="concluirEntrega()" id="concluirEntrega"><i class="fa-solid fa-boxes-stacked"></i> Concluir Entrega</button>
                    </div>
                    <div *ngIf="estatus == false" class="col-3 col-md-2">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                    </div>
                    <div *ngIf="estatus == true" class="col-12 col-md-12 text-end">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                    </div>
                </div>
                <div *ngIf="loading" class="progressmodal"></div>
            </div>
        </div>
    </div>
</div>
<confirma-widget [titulo]="" [mensaje]="" (ansEvent)="returnConfirmacion($event)"></confirma-widget>