<style>
    .btn-bottom-right {
        position: absolute;
        bottom: 80px; /* Puedes ajustar la distancia desde la parte inferior */
        right: 30px; /* Puedes ajustar la distancia desde la derecha */
    }
</style>
<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Dashboard</h1>
        </div>
    </div>
    <!--<h5>Dashboard</h5>-->
    <!--<div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="dvtop"></div>
            </div>-->
            <!--<div class="col h-50">
            </div>-->
            <!--<div class="col-12 col-md-6">
                <div id="dvdonut"></div>
            </div>
        </div>-->
        <!--<div class="row">
            <div class="col">.</div>
            <div class="col">.</div>
            <div class="col">.</div>
        </div>-->
    <!--</div>-->
    <br />
    <br />
    <br />
    <br />
    <!--<button type="button" class="btn btn-primary btn-bottom-right box-shadow" (click)="goBack()">Volver</button>-->
</div>
