<meta charset="UTF-8">
<div class="modal fade modal-lg" id="modalCargarFactura" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <meta charset="UTF-8">
            <!-- Modal Header -->
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">Cargar factura</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body align-middle">
                <h5>Detalles de la orden</h5>
                <div class="row">
                    <div class="col-md-3 col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control custom-input" [ngModel]="detallefact.empresa" placeholder="Empresa" disabled>
                            <label asp-for="Keywords">Empresa</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control custom-input" [ngModel]="detallefact.cliente" placeholder="Cliente" disabled>
                            <label asp-for="Keywords">Cliente</label>
                        </div>
                    </div>

                    <div class="col-md-2 col-4">
                        <div class="form-floating">
                            <input type="text" class="form-control custom-input" [ngModel]="detallefact.idOrden" placeholder="Id orden" disabled>
                            <label asp-for="Keywords">Id orden</label>
                        </div>
                    </div>
                    <div class="col-md-2 col-4">
                        <!--<div class="form-floating">
                            <input type="text" class="form-control custom-input" [ngModel]="fechaActual | date: 'dd/MM/yyyy'" placeholder="Fecha recepción" disabled>
                            <label asp-for="Keywords">Fecha recepción</label>
                        </div>-->
                        <div class="form-floating">
                            <input type="text" class="form-control custom-input" [ngModel]="'$' + (total | number: '1.2')" placeholder="Facturado" disabled>
                            <label asp-for="Keywords">Total</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="form-floating">
                            <input type="text" class="form-control custom-input" [ngModel]="'$' + (detallefact.facturado | number: '1.2')" placeholder="Facturado" disabled>
                            <label asp-for="Keywords">Facturado</label>
                        </div>
                    </div>
                </div>
                <br />
                <h5>Carga de archivos</h5>
                <div class="row">
                    <div class="col-md-3 col-4 mb-3 text-center">
                        <input type="file" accept="application/pdf" (change)="onPdfSelected($event)" style="display: none;" #pdfInput>
                        <button class="btn btn-outline-primary" (click)="pdfInput.click()">Seleccionar PDF </button>
                    </div>
                    <div class="col-md-3 col-4 mb-3 ">
                        <div *ngIf="selectedPdf" class="form-floating">
                            <input type="text" class="form-control custom-input" value="{{ selectedPdf.name }}" placeholder="PDF" disabled>
                            <label asp-for="Keywords">PDF</label>
                        </div>
                    </div>
                    <div class="col-md-1 col-2">
                        <button *ngIf="selectedPdf" class="btn btn-outline-danger" (click)="limpiarPDF()">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    <div class="col-md-5 col-2 mb-3 ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-4 mb-3 text-center">
                        <input type="file" accept="text/xml" (change)="onXmlSelected($event)" style="display: none;" #xmlInput>
                        <button class="btn btn-outline-secondary" (click)="xmlInput.click()">Seleccionar XML</button>
                    </div>
                    <div class="col-md-3 col-4 mb-3">
                        <div *ngIf="selectedXml" class="form-floating">
                            <input type="text" class="form-control custom-input" value="{{ selectedXml.name }}" placeholder="XML" disabled>
                            <label asp-for="Keywords">XML</label>
                        </div>
                    </div>
                    <div class="col-md-1 col-2">
                        <button *ngIf="selectedXml" class="btn btn-outline-danger" (click)="limpiarXML()">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    <div class="col-md-5 col-2 mb-3">
                    </div>
                </div>
                <h5 *ngIf="selectedXml">Datos del XML cargado</h5>
                <div *ngIf="selectedXml" class="row mb-3">
                    <div class="col-md-3 col-4">
                        <div class="form-floating">
                            <input type="text" class="form-control custom-input" [ngModel]="'$' + (xmldata.subTotal | number: '1.2')" placeholder="Subtotal" disabled>
                            <label asp-for="Keywords">Subtotal</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="form-floating">
                            <input type="text" class="form-control custom-input" [ngModel]="'$' + (xmldata.iva | number: '1.2')" placeholder="Subtotal" disabled>
                            <label asp-for="Keywords">IVA</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="form-floating ">
                            <input type="text" class="form-control custom-input" [ngModel]="'$' + (xmldata.total | number: '1.2')" placeholder="Total" disabled>
                            <label asp-for="Keywords">Total</label>
                        </div>
                    </div>
                    <div class="col-md-3 col-4">
                        <div class="form-floating ">
                            <input type="text" class="form-control custom-input" [ngModel]="xmldata.fechaFactura" placeholder="Fecha factura" disabled>
                            <label asp-for="Keywords">Fecha factura</label>
                        </div>
                    </div>
                    <div *ngIf="xmldata.factura" class="col-md-3 col-4">
                        <div class="form-floating ">
                            <input type="text" class="form-control custom-input" [ngModel]="xmldata.factura" placeholder="Factura" disabled>
                            <label asp-for="Keywords">Factura</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-4">
                        <div class="form-floating ">
                            <input type="text" class="form-control custom-input" [ngModel]="xmldata.uuid" placeholder="UUID" disabled>
                            <label asp-for="Keywords">UUID</label>
                        </div>
                    </div>
                    <div *ngIf="selectedXml && selectedPdf" class="col-md-3 col-3 text-center align-middle">
                        <button type="button" class="btn btn-outline-success" (click)="subirFacturas()">
                            <i class="fa-solid fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
                <h5>Facturas cargadas</h5>
                <div class="row box-shadow" style="border-radius: 10px; overflow-x: hidden;">
                    <div style="max-height: 200px; max-width:auto; overflow-y: auto; overflow-x: hidden">
                        <div class="row">
                            <table class="table table-borderless table-striped table-responsive text-center">
                                <thead class="sticky-top text-white" style=" border-radius: 10px; ">
                                    <tr class="col-1 text-center">
                                        <th>Id Recepcion</th>
                                        <th>Documento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let fact of facturas">
                                        <td> {{fact.idRecepcion}}</td>
                                        <td> {{fact.documento}}</td>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="close()" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<confirma-widget [titulo]="" [mensaje]="" (ansEvent)="returnConfirmacion($event)"></confirma-widget>