<meta charset="UTF-8">
<div class="modal fade modal-lg" id="modalCargarFactura" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <meta charset="UTF-8">

            <!-- Modal Header -->
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">Cargar factura</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h6 class="modal-title">Id orden: {{idOrden}}</h6>
                <h6 class="modal-title">Empresa: {{empresa}}</h6>
                <h6 class="modal-title">Cliente: {{cliente}}</h6>
                <br />
                <div class="row" style="border-radius: 10px; overflow-x: hidden;">
                    <div style="max-height: 250px; max-width:auto; overflow-y: auto; overflow-x: hidden">
                        <div class="row">
                            <table class="table table-borderless table-striped table-responsive text-center">
                                <thead class="sticky-top text-white" style="background-color: #4a92fe; color: #fff; border-radius: 10px; ">
                                    <tr class="col-1 text-center">
                                        <th>Id Recepcion</th>
                                        <th>Documento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let fact of facturas">
                                        <td> {{fact.idRecepcion}}</td>
                                        <td> {{fact.documento}}</td>
                                        <td>
                                            <!--<div class="row">
                                                <div class="col-12 col-md-12 col-sm-12">
                                                    <button type="button" class="btn btn-lg text-primary" (click)="getImage(acu.archivo, acu.carpeta)" data-bs-toggle="tooltip" title="Ver">
                                                        <i class="fa-solid fa-eye" style="color: #565658;"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-lg text-secondary" (click)="eliminaAcuse(acu.archivo, acu.carpeta)" data-bs-toggle="tooltip" title="Eliminar">
                                                        <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                                                    </button>
                                                </div>
                                            </div>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row text-center">
                    <div class="col-md-4 mb-3">
                        <!-- Seleccionar PDF -->
                        <input type="file" accept="application/pdf" (change)="onPdfSelected($event)" style="display: none;" #pdfInput>
                        <button class="btn btn-outline-primary" (click)="pdfInput.click()">Seleccionar archivo PDF</button>
                        <div *ngIf="selectedPdf">
                            {{ selectedPdf.name }}
                            <button class="btn btn-outline-danger" (click)="limpiarPDF()">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <!-- Seleccionar XML -->
                        <input type="file" accept="text/xml" (change)="onXmlSelected($event)" style="display: none;" #xmlInput>
                        <button class="btn btn-outline-secondary" (click)="xmlInput.click()">Seleccionar archivo XML</button>
                        <div *ngIf="selectedXml">
                            {{ selectedXml.name }}
                            <button class="btn btn-outline-danger" (click)="limpiarXML()"> 
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-1 mb-3">
                        <!--<button class="btn btn-outline-danger" (click)="limpiarDocumento()">
                            <i class="fa-solid fa-trash"></i>
                        </button>-->
                    </div>

                    <div class="col-md-3 mb-3">
                        <button type="button" class="btn btn-outline-success" (click)="subirFacturas()">
                            <i class="fa-solid fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-outline-primary" (click)="concluirEntrega()" id="btnEliminarSbmt">ConcluirEntrega</button>-->
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
