<meta charset="UTF-8">
<div class="modal fade modal-lg" id="modalDetalleMaterialesListado" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <meta charset="UTF-8">
            <!-- Modal Header -->
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">Detalle de materiales</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-md-2 col-2">
                        <h6 class="modal-title">Listado: </h6><span>{{ idListado  }}</span>
                    </div>
                    <div class="col-md-2 col-4">
                        <h6 class="modal-title">Tipo: </h6><span>{{ tipo }}</span>
                    </div>
                    <div class="col-md-8 col-6">
                        <h6 class="modal-title">Punto de atención: </h6><span> {{ sucursal }}</span>
                    </div>
                </div>
                <!--<h6 class="modal-title">Listado: {{idListado}}</h6>
                <h6 class="modal-title">Punto de atención: {{sucursal}}</h6>
                <h6 class="modal-title">Tipo: {{tipo}}</h6>
                <br />-->
                <div class="row box-shadow table-container">
                    <table class="table table-borderless table-striped table-responsive text-center">
                        <thead class="sticky-top text-white" style=" border-radius: 10px; ">
                            <tr class="col-1 text-center">
                                <th>Clave</th>
                                <th>Descripción</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mat of model">
                                <td> {{mat.clave}}</td>
                                <td> {{mat.descripcion}}</td>
                                <td> {{mat.unidad}}</td>
                                <td> {{mat.cantidad}}</td>
                                <td class="text-end"> ${{mat.precio | number: '1.2'}}</td>
                                <td class="text-end"> ${{mat.total | number: '1.2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" (click)="obtenerReporte(idListado, prefijo)" [disabled]="loading">
                    <span *ngIf="!loading">
                        <i class="fa-solid fa-print"></i> Imprimir
                    </span>
                    <span *ngIf="loading">
                        <i class="fa-solid fa-print"></i> Imprimir
                    </span>

                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                <div *ngIf="loading" class="progressmodal"></div>
            </div>
        </div>
    </div>
</div>
