<meta charset="UTF-8">
<div class="modal fade modal-lg" id="modalRequisicionDetalle" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <meta charset="UTF-8">
            <!-- Modal Header -->
            <div class="modal-header justify-content-center">
                <div class="col-10 col-sm-10 col-md-10 col-xl-10 col-lg-10 text-start">
                    <h4 class="modal-title">Requisicion No. {{idRequisicion}}</h4>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-xl-2 col-lg-2 text-end">
                    <button type="button" class="btn btn-outline-secondary" (click)="cancela()" data-bs-dismiss="modal"><i class="fa fa-close text-center"></i></button>
                </div>
            </div>
            <!-- Modal body -->
            <div class="modal-body ">
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="modal-title">Iva: </h6><span>${{modelRequisicion.iva}}</span>
                    </div>
                    <div class="col-md-2">
                        <h6 class="modal-title">Subtotal: </h6><span>${{modelRequisicion.subtotal}}</span>
                    </div>
                    <div class="col-md-2">
                        <h6 class="modal-title">Total: </h6><span>${{modelRequisicion.total}}</span>
                    </div>
                    <div class="col-md-6 text-end">
                        <a class="btn btn-primary" *ngIf="idRequisicionEstatus == 1" (click)="guardaPreciosNuevos()">Guardar y enviar notificación</a>
                    </div>
                </div>
                <hr />

                <div *ngIf="isLoading" class="row-12 text-center">
                    <h6 *ngIf="isLoading">Cargando...</h6>
                </div>
                <div *ngIf="isLoading" class="text-center ">
                    <i class="fas fa-spinner fa-spin fa-3x"></i>
                </div>
                <div class="row box-shadow table-container">
                    <table class="table table-borderless table-striped table-responsive text-center">
                        <thead class="sticky-top text-white" style=" border-radius: 10px;">
                            <tr>
                                <th>Clave</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Nuevo Precio</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let producto of model.productos; let i = index">
                                <!--<td>
                                    <div class="row mt-2 mb-2">
                                        <div class="col-2 col-md-2 col-sm-2">
                                            <span class="badge" style="color: white;">Clave:</span>
                                            <div class="ms-2">{{ producto.clave }}</div>
                                        </div>
                                        <div class="col-3 col-md-3 col-sm-3">
                                            <span class="badge" style="color: white;">Producto:</span>
                                            <div class="ms-2">${{ producto.producto }}</div>
                                        </div>
                                        <div class="col-1 col-md-1 col-sm-1">
                                            <span class="badge" style="color: white;">Cantidad:</span>
                                            <div class="ms-2">{{ producto.cantidad }}</div>
                                        </div>
                                        <div class="col-2 col-md-2 col-sm-2">
                                            <span class="badge" style="color: white;">Precio:</span>
                                            <div class="ms-2">${{ producto.precio }}</div>
                                        </div>
                                        <div class="col-2 col-md-2 col-sm-2">
                                            <span class="badge" style="color: white;">Precio nuevo:</span>
                                            <div class="ms-2">
                                                $
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" [(ngModel)]="producto.precioNuevo" placeholder="0.00">
                                                    <label for="txpassword">Nuevo Precio</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>-->
                                <td>
                                    <div>
                                        <div>{{ producto.clave }}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div>{{ producto.producto }}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div>{{ producto.cantidad }}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div>{{ producto.precio }}</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">$</span>
                                            <input type="number" class="form-control input-numerico" [disabled]="idRequisicionEstatus != 1 || isLoading" [(ngModel)]="producto.precioNuevo" (change)="soloNumeros($event, i)" placeholder="0.00" aria-label="0.00" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />

            </div>
            <!-- Modal footer -->
            <div class="modal-footer justify-content-start">
            </div>
        </div>
    </div>

</div>
<!--<confirma-widget [titulo]="" [mensaje]="" (ansEvent)="returnConfirmacion($event)"></confirma-widget>-->