<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Estado de cuenta</h1>
        </div>
    </div>
    <div class=" d-md-none row box-shadow" style="border-radius: 10px; overflow-x: hidden; overflow-y: auto">
        <div style="max-height: 450px; overflow-y: auto; overflow-x: hidden;">
            <div class="row">
                <table class="table table-borderless table-striped table-responsive text-start">
                    <thead class="sticky-top">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-1 col-sm-6 col-2">
                                        <span>Montos</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of model.estadosDeCuenta">
                            <td>
                                <div class="row">
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">No. factura:</span>
                                        <div class="ms-2">{{ f.factura }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">Monto factura:</span>
                                        <div class="ms-2">${{ f.total | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">Pagos:</span>
                                        <div class="ms-2">${{ f.pago | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">Saldo actual:</span>
                                        <div class="ms-2">${{ f.saldo | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">F.Factura:</span>
                                        <div class="ms-2">{{ f.ffactura | date: 'dd/MM/yyyy' }}</div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">Credito:</span>
                                        <div class="ms-2">{{ f.diasCredito }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">F.Vencimiento:</span>
                                        <div class="ms-2">{{ f.fvencimiento | date: 'dd/MM/yyyy' }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">Dias vencido:</span>
                                        <div class="ms-2">{{ f.diasVencido }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">Corriente:</span>
                                        <div class="ms-2">${{ f.corriente | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">0 - 30 días:</span>
                                        <div class="ms-2">${{ f.mes1 | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">30 a 60 días:</span>
                                        <div class="ms-2">${{ f.mes2 | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">60 a 90 días:</span>
                                        <div class="ms-2">${{ f.mes3 | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 mb-2">
                                        <span class="badge text-dark">Mas de 90 días:</span>
                                        <div class="ms-2">${{ f.mes4 | number: '1.2'  }}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class=" d-none d-md-block row box-shadow" style="border-radius: 10px; overflow-x: hidden; overflow-y: auto">
        <div style="max-height: 450px; overflow-y: auto; overflow-x: hidden; max-width:auto">
            <div class="row">
                <table class="table table-borderless table-striped table-responsive text-center">
                    <thead class="sticky-top text-white">
                        <tr style="background-color: #4a92fe; color: #fff;">
                            <td>
                                <div class="row" style="font-weight: bold;">
                                    <div class="col-md-1 col-sm-6 col-2">
                                        <span class="text-white">Montos</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of model.estadosDeCuenta">
                            <td>
                                <div class="row">
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">No. factura:</span>
                                        <div class="ms-2">{{ f.factura }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">Monto factura:</span>
                                        <div class="ms-2">${{ f.total | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">Pagos:</span>
                                        <div class="ms-2">${{ f.pago | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">Saldo actual:</span>
                                        <div class="ms-2">${{ f.saldo | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">F.Factura:</span>
                                        <div class="ms-2">{{ f.ffactura | date: 'dd/MM/yyyy' }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">Credito:</span>
                                        <div class="ms-2">{{ f.diasCredito }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">F.Vencimiento:</span>
                                        <div class="ms-2">{{ f.fvencimiento | date: 'dd/MM/yyyy' }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">Dias vencido:</span>
                                        <div class="ms-2">{{ f.diasVencido }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">Corriente:</span>
                                        <div class="ms-2">${{ f.corriente | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">0 - 30 días:</span>
                                        <div class="ms-2">${{ f.mes1 | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">30 a 60 días:</span>
                                        <div class="ms-2">${{ f.mes2 | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">60 a 90 días:</span>
                                        <div class="ms-2">${{ f.mes3 | number: '1.2'  }}</div>
                                    </div>
                                    <div class="col-2" style="width: 100px;">
                                        <span class="badge text-dark">Mas de 90 días:</span>
                                        <div class="ms-2">${{ f.mes4 | number: '1.2'  }}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>
</div>
