<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<div [@fadeInOut]>
    <br />
    <div class="col-12 mt-1 " style="position: relative;">
        <h1 class="h2" style="position: absolute; top: 0; left: 0; z-index: 1;">Dashboard</h1>
    </div>
    <div class="sticky-container-dash align-content-center align-middle">
        <div class="d-block d-md-none row pb-5">
            <div class="col-12">
            </div>
        </div>
        <div class="d-none d-lg-block row pb-2">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-10 text-end">
                <div *ngIf="isLoading">
                    <i class="fas fa-spinner fa-spin fa-2x"></i>
                </div>
            </div>

            <div class="col-md-2 col-6 ">
                <div class="form-floating box-shadow">
                    <input type="number" class="form-control" [(ngModel)]="anio" id="anio" placeholder="Año" (input)="getGraficas()">
                    <label asp-for="anio">Año</label>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="form-floating box-shadow">
                    <select id="ddlmes" class="form-select" [(ngModel)]="mes" (change)="getGraficasMes()">
                        <option *ngFor="let m of mesesc" [ngValue]="m.id">{{ m.descripcion }}</option>
                    </select>
                    <label asp-for="ddlmes">Mes</label>
                </div>
            </div>
        </div>
    </div>


    <br />
    <div class="row mb-3">
        <!--<div class="col-6 col-md-3 mb-3" data-toggle="tooltip" data-placement="top" title="Evaluación general">
            <div class="card box-shadow">
                <div class="card-body">
                    <h5 class="card-title mb-4">Mi evaluación final</h5>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <i class="fa-solid fa-user-check fa-3x" style="color:royalblue"></i>
                        </div>
                        <div class="display-6">
                            0%-->
                            <!--%{{ graficaListadoMes.aprobado }}-->
                        <!--</div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col-6 col-md-3" data-toggle="tooltip" data-placement="top" title="Se obtiene un porcentaje menor si las entregas se realizan despues de la fecha estimada">
            <div class="card box-shadow">
                <div class="card-body">
                    <h5 class="card-title mb-4">Entregas en tiempo</h5>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <i class="fa-solid fa-truck-front fa-3x" style="color: brown;"></i>
                        </div>
                        <div class="display-6">
                            {{ porcentajeTiempoEntrega }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3" data-toggle="tooltip" data-placement="top" title="Calcula si los acuses se cargan el mismo dia en que se realiza la entrega">
            <div class="card box-shadow">
                <div class="card-body">
                    <h5 class="card-title mb-4">Carga de acuses</h5>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <i class="fa-solid fa-upload fa-3x" style="color: aqua;"></i>
                        </div>
                        <div class="display-6">
                            {{ porcentajeCargaAcuses | number: '1.2' }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h5>Historial de evaluaciones</h5>
    <hr />
    <div  *ngIf="listaEvaluaciones && listaEvaluaciones.length > 0" id="accordion" class="box-shadow">
        <div *ngFor="let eva of listaEvaluaciones" class="btn col-md-12 col-12 text-start" data-bs-toggle="collapse" [attr.href]="'#dvDetalleEvaluacion' + eva.idEvaluacionProveedor" style="cursor: pointer;">
            <div class="row card-header">
                <div class="col-md-12">
                    <h6 style="margin-bottom: 7px; margin-top: 7px;">
                        {{ eva.fechaEvaluacion }}
                        <span class="badge ms-3">Promedio: {{ eva.promedio }}</span>
                    </h6>
                </div>
            </div>
            <div class="row" style="border-radius: 10px; overflow-x: hidden;">
                <div style="max-height: 300px; overflow-y: auto;">
                    <div [id]="'dvDetalleEvaluacion' + eva.idEvaluacionProveedor" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div style="border-radius: 10px; overflow-x: hidden;">
                                <table class="table table-borderless table-responsive table-striped" id="tbOperarios">
                                    <tbody>
                                        <tr *ngFor="let det of filtroPlan(eva.idEvaluacionProveedor)" id="tr{{ det.idEvaluacionProveedor }}">
                                            <td>
                                                <div class="row">
                                                    <div class="col-8 col-sm-3 col-md-2">
                                                        <span class="badge">Descripcion:</span>
                                                        <div class="ms-1" style="font-size: smaller;">{{ det.descripcion }}</div>
                                                    </div>
                                                    <div class="col-4 col-sm-2 col-md-1 text-center">
                                                        <span class="badge">Calificacion:</span>
                                                        <div class="ms-4" style="font-size: smaller;">{{ det.calificacion }}</div>
                                                    </div>
                                                    <div class="col-12 col-sm-7 col-md-9">
                                                        <span class="badge">Criterios:</span>
                                                        <div class="ms-1" style="font-size: smaller;">{{ det.criterios }}</div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br />
    <div class="container">
        <br />
        <h5>Listados de materiales</h5>
        <hr />
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <div id="gla"></div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card box-shadow">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Aprobado</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <i class="fa-solid fa-check fa-3x" style="color: yellowgreen"></i>
                            </div>
                            <div class="display-6">
                                {{ graficaListadoMes.aprobado }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card box-shadow">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Entregado</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <i class="fa-solid fa-truck-front fa-3x" style="color: brown;"></i>
                            </div>
                            <div class="display-6">
                                {{ graficaListadoMes.entregado }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <h5>Ordenes de compra</h5>
        <hr />
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <div id="goa"></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="card box-shadow">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Alta</h5>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="fa-solid fa-rectangle-list fa-3x"></i>
                                    </div>
                                    <div class="display-6">
                                        {{ graficaOrdenMes.alta }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="card box-shadow">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Completa</h5>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="fa-solid fa-truck-front fa-3x" style="color: brown;"></i>
                                    </div>
                                    <div class="display-6">
                                        {{ graficaOrdenMes.completa }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-6">
                        <div class="card box-shadow">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Total</h5>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="fa-solid fa-money-bills fa-3x" style="color: green"></i>
                                    </div>
                                    <div style="font-size: x-large;">
                                        ${{ dashOrdenMes.total | number: '1.2' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="card box-shadow">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Facturado</h5>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="fa-solid fa-file-invoice-dollar fa-3x" style="color: purple;"></i>
                                    </div>
                                    <div style="font-size: x-large;">
                                        ${{ dashOrdenMes.facturado | number: '1.2' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
