<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Dashboard</h1>
        </div>
    </div>
    <div class="sticky-container align-content-center align-middle">
        <div class="row">
            <div class="col-md-3 col-7 mb-3">
                <div class="form-floating box-shadow">
                    <input type="number" name="year" min="1900" max="2100" class="form-control" [(ngModel)]="anio" id="Anio" placeholder="Escriba un año" (input)="getGraficas()">
                    <label asp-for="anio">Año</label>
                </div>
            </div>
            <div class="col-md-3 col-5 mb-3">
                <div class="form-floating box-shadow">
                    <select class="form-select" [(ngModel)]="mes" (change)="getGraficas()" id="ddlmes">
                        <option *ngFor="let m of meses" [ngValue]="m.id">{{ m.descripcion }}</option>
                    </select>
                    <label asp-for="ddlmes">Mes</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br />
        <h5>Listados de materiales</h5>
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="gla"></div>
            </div>
            <div class="col-12 col-md-6">
                <div id="glm"></div>
            </div>
        </div>
        <br />
        <h5>Ordenes de compra</h5>
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="goa"></div>
            </div>
            <div class="col-12 col-md-6">
                <div id="gom"></div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <h5>Mis evaluaciones</h5>
    <br />
    <div class="d-flex flex-row-reverse">
    </div>
    <div id="accordion">
        <div *ngFor="let eva of listaEvaluaciones" class="btn col-md-12 text-start" data-bs-toggle="collapse" [attr.href]="'#dvDetalleEvaluacion' + eva.idEvaluacionProveedor"  style="cursor: pointer;">
            <div class="row card-header bg-white" >
                <div class="col-md-12">
                    <h6 style="margin-bottom: 7px; margin-top: 7px;">
                        {{ eva.fechaEvaluacion }}
                        <span class="badge bg-primary ms-3">Promedio: {{ eva.promedio }}</span>
                    </h6>
                </div>
            </div>
            <div [id]="'dvDetalleEvaluacion' + eva.idEvaluacionProveedor" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <br/>
                    <div style="border-radius: 10px; overflow-x: hidden;">
                        <table class="table table-borderless table-responsive table-striped" id="tbOperarios">
                            <tbody>
                                <tr *ngFor="let det of filtroPlan(eva.idEvaluacionProveedor)" id="tr{{ det.idEvaluacionProveedor }}">
                                    <td>
                                        <div class="row">
                                            <div class="col-8 col-sm-3 col-md-3">
                                                <span class="badge text-dark">Descripcion:</span>
                                                <div class="ms-1">{{ det.descripcion }}</div>
                                            </div>
                                            <div class="col-3 col-sm-2 col-md-2">
                                                <span class="badge text-dark">Calificacion:</span>
                                                <div class="ms-4">{{ det.calificacion }}</div>
                                            </div>
                                            <div class="col-8 col-sm-7 col-md-7">
                                                <span class="badge text-dark">Criterios:</span>
                                                <div class="ms-1">{{ det.criterios }}</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
</div>
