@keyframes carga {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

#miBoton {
    position: relative;
    overflow: hidden;
}

    #miBoton::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #007bff; /* Cambia el color según tus preferencias */
        animation: carga 1s linear; /* 5 segundos de duración */
    }
