<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Facturas</h1>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-3 col-4 mb-3">
                <div class="form-floating box-shadow">
                    <input type="date" class="form-control" [(ngModel)]="fechaInicio" id="fechaInicio" (input)="obtenerOrdenes()">
                    <label asp-for="fechaInicio">F.Inicio</label>
                </div>
            </div>
            <div class="col-md-3 col-4 mb-3">
                <div class="form-floating box-shadow">
                    <input type="date" class="form-control" [(ngModel)]="fechaFin" id="fechaFin" (input)="obtenerOrdenes()">
                    <label asp-for="fechaFin">F.Fin</label>
                </div>
            </div>
            <div class="col-md-3 col-4 mb-3">
                <div class="form-floating box-shadow">
                    <select class="form-select" [(ngModel)]="idStatus" (change)="obtenerOrdenes()">
                        <!--<option value="0">Selecciona una opción...</option>-->
                        <option *ngFor="let s of statusc" [ngValue]="s.id">{{ s.descripcion }}</option>
                    </select>
                    <label asp-for="ddlmes">Estatus</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row box-shadow" style="border-radius: 10px; overflow-x: hidden;">
        <div style="max-height: 450px; overflow-y: auto;">
            <div class="row">
                <table class="table table-borderless table-striped table-responsive text-start">
                    <thead class="sticky-top">
                        <tr class="text-white">
                            <th class="ps-2 text-start">Ordenes de compra</th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orden of model.ordenes">
                            <td>
                                <div class="row mb-2">
                                    <div class="col-md-1 col-sm-6 col-2">
                                        <span class=" badge">Id:</span>
                                        <div class="ms-2">{{ orden.idOrden }}</div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-6">
                                        <span class="badge">Empresa:</span>
                                        <div class="ms-2">{{ orden.empresa }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-4">
                                        <span class="badge">Cliente:</span>
                                        <div class="ms-2">{{ orden.cliente }}</div>
                                    </div>
                                    <div class="col-md-1 col-sm-6 col-3 text-center">
                                        <span class="badge">Tipo:</span>
                                        <div class="ms-2 ">{{ orden.tipo }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 text-center">
                                        <span class="badge">Estatus:</span>
                                        <div class="ms-2">{{ orden.estatus }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3 text-center">
                                        <span class="badge">F.Alta:</span>
                                        <div class="ms-2">{{ orden.fechaAlta }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-3">
                                        <span class="badge">Total:</span>
                                        <div class="ms-2">${{ orden.total | number: '1.2' }}</div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-4">
                                        <span class="badge">Facturado:</span>
                                        <div class="ms-2">${{ orden.facturado | number: '1.2' }}</div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-8">
                                        <span class="badge">Elabora:</span>
                                        <div class="ms-2">{{ orden.elabora }}</div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-12">
                                        <span class="badge">Observación:</span>
                                        <div class="ms-2" style="font-size: smaller;">{{ orden.observacion }}</div>
                                    </div>
                                </div>
                                <div *ngIf="orden.loading" class="progress"></div>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-lg text-primary" (click)="imprimirOrden(orden.idOrden, orden.tipo)"
                                        data-bs-toggle="tooltip" title="Imprimir orden" [disabled]="orden.loading">
                                    <span>
                                        <i class="fa-solid fa-print" style="color: darkslategray;"></i>
                                    </span>

                                </button>
                                <button type="button" class="btn btn-lg text-secondary"
                                        (click)="openCargarFacturas(orden.idOrden, orden.empresa, orden.cliente, orden.total)"
                                        data-bs-toggle="tooltip" title="Facturas"
                                        [disabled]="orden.estatus === 'Completa'">
                                    <i class="fa-solid fa-file-invoice-dollar" style="color: #0d6efd;"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <pagina-widget [pagina]="model.pagina" [numPaginas]="model.numPaginas" [rows]="model.rows" (chgEvent)="muevePagina($event)"></pagina-widget>
</div>
<cargarfactura-widget (ansEvent)="returnModal($event)"></cargarfactura-widget>