<nav id="sidebarMenu" class="col-md-auto d-md-none  sidebar collapse-horizontal collapse box-shadow shadow-sm translucent">
    <ul class="nav d-flex flex-column justify-content-center h-100 pt-2">
        <li class="nav-item mb-3 text-sm-start text-md-center">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" [routerLink]="['/exclusivo']" [routerLinkActive]='["active"]' [routerLinkActiveOptions]="{ exact: true }" aria-current="page">
                <div data-bs-toggle="tooltip" data-bs-placement="right">
                    <span> <i class="fa-solid fa-gauge fa-2x"></i></span>
                    <div class="d-block d-md-none"><h6>DASHBOARD</h6></div>
                    <hr class="d-block d-md-none" />
                </div>
            </a>
        </li>
        <li class="nav-item mb-3 text-sm-start text-md-center">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" [routerLink]="['/exclusivo/entrega']" [routerLinkActive]='["active"]' aria-current="page">
                <div data-bs-toggle="tooltip" data-bs-placement="right">
                    <span> <i class="fa-solid fa-truck fa-2x"></i></span>
                    <div class=" d-block d-md-none"><h6>ENTREGAS</h6></div>
                    <hr class="d-block d-md-none" />
                </div>
            </a>
        </li>
        <li class="nav-item mb-3 text-sm-start text-md-center">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" [routerLink]="['/exclusivo/factura']" [routerLinkActive]='["active"]' aria-current="page">
                <div data-bs-toggle="tooltip" data-bs-placement="right">
                    <span> <i class="fa-solid fa-file-invoice-dollar fa-2x"></i></span>
                    <div class=" d-block d-md-none"><h6>FACTURAS</h6></div>
                    <hr class="d-block d-md-none" />
                </div>
            </a>
        </li>
        <li class="nav-item mb-3 text-sm-start text-md-center">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" [routerLink]="['/exclusivo/estadodecuenta']" [routerLinkActive]='["active"]' aria-current="page">
                <div data-bs-toggle="tooltip" data-bs-placement="right">
                    <span> <i class="fa-solid fa-file-invoice fa-2x"></i></span>
                    <div class=" d-block d-md-none"><h6>CUENTA</h6></div>
                    <hr class="d-block d-md-none" />
                </div>
            </a>
        </li>
        <!--<li class="nav-item mb-3 text-sm-start text-md-center">
            <div data-bs-toggle="tooltip" data-bs-placement="right" title="Cambiar tema">
                <button class="btn" (click)="toggleTheme()"><i class="fa-solid fa-palette"></i></button>
                <div class=" d-block d-md-none"><h6>Tema</h6></div>
            </div>
        </li>-->
    </ul>
</nav>

<!--MENU ESTATICO-->
<nav id="sidebarMenustatic" class="col-md-auto d-none d-md-block sidebar collapse">
    <ul class="nav d-flex flex-column justify-content-center h-100 pt-2">
        <li class="nav-item mb-3 text-sm-start text-md-center">
            <a class="nav-link" [routerLink]="['/exclusivo']" [routerLinkActive]='["active"]' [routerLinkActiveOptions]="{ exact: true }" aria-current="page">
                <div data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
                    <span> <i class="fa-solid fa-gauge fa-2x"></i></span>
                    <div class="float-end d-block d-sm-none"><h6>DASHBOARD</h6></div>
                    <hr class="d-block d-sm-none" />
                </div>
            </a>
        </li>
        <li class="nav-item mb-3 text-sm-start text-md-center">
            <a class="nav-link" [routerLink]="['/exclusivo/entrega']" [routerLinkActive]='["active"]' aria-current="page">
                <div data-bs-toggle="tooltip" data-bs-placement="right" title="Entregas">
                    <span> <i class="fa-solid fa-truck fa-2x"></i></span>
                    <div class="float-end d-block d-sm-none"><h6>ENTREGAS</h6></div>
                    <hr class="d-block d-sm-none" />
                </div>
            </a>
        </li>
        <li class="nav-item mb-3 text-sm-start text-md-center">
            <a class="nav-link" [routerLink]="['/exclusivo/factura']" [routerLinkActive]='["active"]' aria-current="page">
                <div data-bs-toggle="tooltip" data-bs-placement="right" title="Facturas">
                    <span> <i class="fa-solid fa-file-invoice-dollar fa-2x"></i></span>
                    <div class="float-end d-block d-sm-none"><h6>FACTURAS</h6></div>
                    <hr class="d-block d-sm-none" />
                </div>
            </a>
        </li>
        <li class="nav-item mb-3 text-sm-start text-md-center">
            <a class="nav-link" [routerLink]="['/exclusivo/estadodecuenta']" [routerLinkActive]='["active"]' aria-current="page">
                <div data-bs-toggle="tooltip" data-bs-placement="right" title="Estado de cuenta">
                    <span> <i class="fa-solid fa-file-invoice fa-2x"></i></span>
                    <div class="float-end d-block d-sm-none"><h6>ESTADO DE CUENTA</h6></div>
                    <hr class="d-block d-sm-none" />
                </div>
            </a>
        </li>
        <!--<li class="nav-item mb-3 text-sm-start text-md-center">
            <div data-bs-toggle="tooltip" data-bs-placement="right" title="Cambiar tema">
                <button class="btn" (click)="toggleTheme()"><i class="fa-solid fa-palette"></i></button>
            </div>
        </li>-->
    </ul>

</nav>